@import "tailwindcss";
@plugin "@tailwindcss/typography";

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: #f8fafc;
}
